/*body {*/
  /*margin: 0;*/
  /*padding: 0;*/
  /*font-family: sans-serif;*/
/*}*/

.map-main, .dot-main {
  float: left;
}
.dot-main {
  width: 30%;
}
.map-main {
  width: 70%;
}
.dot input {
  border: 1px red solid;
}
.clearfix {
  clear: both;
}
.dot-remove {
  float: right;
  margin-right: 10%;
  cursor: pointer;
}